body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode' 'Lucida Grande' 'Lucinda Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #016f32;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.inner-content p {
    font-size: 1.4rem;
}
h1{
    color:goldenrod;
    font-size: 3rem;
}
#message-el {
    font-style: italic;
}
.btn {
    color:  #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    padding: .6rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: .2rem;
    display: block;
    margin: auto;
    margin-bottom: .4rem;
}
.btn:hover {
    background-color: #044722;
    color: rgb(225, 209, 168);
}